
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(201, 106, 177) , rgb(186, 186, 250));
}

.main{
    width: 50vw;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: black 2px 2px 6px 2px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.item{
    width: 90%;
    display: flex;
    justify-content:flex-start;
    p{
        margin-top: 10px;
    }
    
}

.name{
    width: 200px;
}

.date{
    width: 110px;
}


.delete{
    width: 10%;
    text-align: right;
}

.add__input{
    width: 100%;
    display: flex;
    flex-direction: column;
}



a{
    text-decoration: none;
    font-size: 20px;
    color: $primary__color;
    font-style: italic;
}